<% provide(:title, current_user.email) %>
<% if @user.admin? %>
  <h1>Profile (admin)</h1>
<% else %>
  <h1>Profile</h1>
<% end %>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <ul class='list-group'>
      <li class='list-group-item' id='user_email'><b>Email:</b> <%= @user.email %></li>
      <li class='list-group-item' id='user_name'><b>Name:</b> <%= @user.name %></li>
      <li class='list-group-item'><%= link_to 'Edit', edit_user_path(current_user) %></li>
    </ul>
  </div>
</div>
