<footer class='footer'>
  <small>
    Single user template...
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Facebook', '#' %></li>
      <li><%= link_to 'Twitter', '#' %></li>
    </ul>
  </nav>
</footer>
